ul{
    display: flex;

}
li{
    list-style: none;
    padding: 10px;
    background-color: antiquewhite;
    margin-right: 5px;
}
li:hover{
    background-color: #d94291;
}
.link-item{
    text-decoration: none;
    color: #000;
}
.link-item:hover{
    background-color: antiquewhite;
}