*{
    margin: 0;
    padding: 0;
}
.heading{
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 10px;
}
.card{
    background-color: #FFD773;
    margin: 10px;
    box-shadow: 4px 4px 4px gray;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    display: inline-block;
}
.title{
    text-align: center;
    font-size: 18px;
}
.description{
    font: bold;
}
.date{
    text-align: center;
    text-size-adjust: inherit;
}
button{
    border: none;
    padding: 5px;
    background-color: indianred;
    color: white;
    font-size: 2rem;
}